@font-face {
    src: url(Fonts/calibri.ttf);
    font-family: Calibri;
}
@font-face {
    src: url(Fonts/calibrib.ttf);
    font-family: Calibri;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    font-family: Calibri, sans-serif;
    text-transform: uppercase;
}
body {
    overflow: hidden; /*iscroll*/
    background-color: #0a0b0d;
    user-select: none;
}
/*Removing scrollbar*/
::-webkit-scrollbar {
    display: none;
}

article {
    position: absolute;
    width: 94%;
    right: 3%;
    font-size: 18px;
    background-color: rgb(10,11,13);
    transition: 0.7s ease-in-out;
}

#scroller {
    width: 100%;
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
}

article .table-heading {
    width: 98%;
    left: 1%;
    border-bottom: 2px solid rgb(115,115,115);
    color: rgb(230,120,23);
    font-weight: 600;
}

/*Dash that divides project name from another content*/
article .row .wall {
    width: 1px;
    height: 30px;
    background-color: rgb(115, 115, 115);
}

article .table-heading .wall {
    background-color: rgb(230,120,23);
}

/*Main area of table*/
article .content {
    position: relative;
    width: 98%;
    left: 1%;
    overflow-y: scroll;
    /*height: 85vh;*/
}

/*Represents the entity*/
article .row {
    display: flex;
    padding: 20px 0;
    height: auto;
    justify-content: space-around;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

article .row p{
    margin: 0;
    width: 13%;
    text-align: center;
}

/*Making first column more wider, text bigger */
article .row p:nth-child(1) {
    width: 14%;
    padding-left: 1%;
    font-weight: 600;
    text-align: left;
}

article .content .row:hover {
    background-color: rgb(53,62,58);
}

/*Buttons*/

article .row button {
    display: block;
    /*position: absolute;
    right: 2%;*/
    height: 30px;
    width: 30px;
    margin-right: 1%;
    background-repeat: no-repeat;
    background-color: inherit;
    background-image: url("./Images/recycleD.png");
    background-size: contain;
    border: none;
}

article div .add-entry{
    background-image: url("./Images/addNewButtonD.png");
}

article .table-heading  button:hover {
    background-image: url("./Images/addNewButton.png");
    transform: scale(1.1);
}

article .table-heading  button:active {
    background-image: url("./Images/addNewButton.png");
    transform: scale(1);
}

article .content .row button:hover {
    background-image: url("./Images/recycle.png");
    transform: scale(1.1);
}

article .content .row button:active {
    background-image: url("./Images/recycle.png");
    transform: scale(1);
}

button:focus{
    outline: 0;
}

footer {
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 50px;
    line-height: 50px;
    bottom: 0;
    background-color: rgb(230,120,23);
    text-align: center;
}

@media(max-height: 800px){
    .content {
        height: 540px;
    }
}

@media(min-height: 801px) and (max-height: 1200px) {
    .content {
        height: 840px;
    }
}

@media (min-height: 1201px) {
    .content {
        height: 1000px;
    }
}

.control-left-menu {
    display: block;
    position: absolute;
    height: 17px;
    width: 26px;
    left: 0.5%;
    top: 2.5%;
    background-repeat: no-repeat;
    background-color: inherit;
    background-image: url("./Images/leftMenuButton.png");
    background-size: contain;
    border: none;
    z-index: 3;
}

.control-left-menu:active{
    transform: scale(1.1);
}

.openMenu {
    transform: translateX(101%);
}

.shrinkArticle {
    width: 79%;
}

input, label, li, button, footer p{
    color: #ffffff;
    font-size: 1em;
}
#leftMenu, #rightMenu{
    position: absolute;
    width: 15%;
    top: 0;
    bottom: 50px;
    min-width: 135px;
    padding: 0 2.1%;
    background-color: #000000;
    overflow-y: scroll;
}
#leftMenu{
    left: -19.2%;
    padding-top: 7.875em;
    z-index: 2;
}
#rightMenu{
    right: -19.2%;
    padding-top: 7.375em;
}
#rightMenu input, #rightMenu ul, button[name="create"]{
    margin-bottom: 1.875em;
}
input, button{
    border: 0;
    outline: 0;
}
input, ul li, button[name="create"]{
    width: 100%;
    height: 3.75em;
}
input, ul li:first-child{
    background: #221203;
    border-bottom: solid 2px #d77016;
    text-indent: 1em;
}
input::-webkit-input-placeholder,
input::-moz-placeholder
{
    color: #ffffff;
}
.wrapper{
    position: relative;
}
.wrapper::before, .wrapper::after{
    position: absolute;
    content: '';
    display: block;
    z-index: 1;
}
.wrapper::before{
    width: 2em;
    height: 2em;
    background-color: #2c1d0f;
    top: .1875em;
    right: .1875em;
}
.search::after, .date-field::after{
    top: .375em;
    background-size: cover;
}
.search::after{
    width: 1.625em;
    height: 1.625em;
    right: .3125em;
    background-image: url(Images/glassIcon.png);
}
.date-field::after{
    width: 1.5em;
    height: 1.625em;
    right: .4375em;
    background-image: url(Images/dateIcon.png);
}
input[type="search"]::-webkit-input-placeholder{
    color: #7f7a76;
}
input[type="search"]::-moz-placeholder{
    color: #7f7a76;
}
.checkbox-section{
    width: 92%;
    margin: 1.75em 0 1.69em 0;
    padding: 0 4%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #0d0d0d;
    border-bottom: solid 2px #d77016;
}
.checkbox-section div{
    width: 50%;
    padding: 1.06em 0;
    white-space: nowrap;
}
.checkbox-section input{
    position: relative;
    width: 2.3em;
    height: 2.3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #221203;
    border: 0;
}
.checkbox-section input:checked::after{
    position: relative;
    content: '';
    display: block;
    width: 3.6em;
    height: 2.3em;
    top: 0;
    z-index: 2;
    background: url(Images/checked.png) no-repeat;
}
.checkbox-section label{
    position: relative;
    bottom: .6875em;
}
ul{
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
}
ul li{
    height: 3.75em;
    background: #221203;
    text-align: center;
    overflow-x: scroll;
    white-space: nowrap;
}
ul li:first-child{
    text-align: left;
}
ul li:first-child:hover{
    background: #221203;
}
ul li:hover{
    background: #2c2a27;
}
.opened li:first-child{
    border-bottom-color: #fff;
}
.opened li:last-child{
    border-bottom: solid 2px #d77016;
}
ul::after{
    width: 1.125em;
    height: .8125em;
    top: .8125em;
    right: .625em;
    background: url(Images/opened.png);
    background-size: cover;
}
.closed::after{
    transform: rotate(180deg);
}
.closed li:nth-of-type(n + 2){
    display: none;
}
button[name="create"]{
    background-color: #e67817;
    font-weight: bold;
    text-align: left;
    text-indent: 1.9em;
}
button[name="create"]{
    cursor: pointer;
}

@media screen and (max-width: 1375px){
    input, ul li, button[name="create"]{
        height: 3em;
    }
    ul li{
        line-height: 3em;
    }
    .checkbox-section div{
        padding: 0.85em 0;
    }
    .checkbox-section input{
         width: 1.84em;
         height: 1.84em;
     }
    .checkbox-section label{
        bottom: .5em;
    }
    .checkbox-section input:checked::after{
        width: 2.88em;
        height: 1.84em;
        background-size: contain;
    }
    .wrapper::before{
        width: 1.6em;
        height: 1.6em;
    }
    .search::after, .date-field::after{
        top: .375em;
    }
    .search::after{
        width: 1.3em;
        height: 1.3em;
        right: .25em;
    }
    .date-field::after{
        width: 1.2em;
        height: 1.3em;
        right: .35em;
    }
    ul::after{
        width: .9em;
        height: .65em;
        top: .65em;
        right: .5em;
    }
}
@media screen and (max-width: 1300px){
    .checkbox-section{
        flex-flow: column wrap;
    }
    .checkbox-section div{
        width: 100%;
        padding-left: 10%;
    }
    .checkbox-section label{
        left: .8em;
    }
}
